<nav class="navbar  navbar-expand-lg  border-bottom bg-body-tertiary border-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                 viewBox="0 0 16 16" width="30" height="24" class="d-inline-block align-text-top">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
            مای کالا
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">خانه</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">جستجو</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">پروفایل</a>

                        <ul class="dropdown-menu dropdown-menu-end  text-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">پروفایل کاربر</a></li>
                            <li><a class="dropdown-item" href="{% url 'user_info' %}">اطلاعات کاربر</a></li>
                            <li><a class="dropdown-item" href="{% url 'user_orders' %}">سفارشات کاربر</a></li>
                        </ul>
                    </li>
                {% endif %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">فروشگاه</a>

                    <ul class="dropdown-menu dropdown-menu-end  text-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">تمام محصولات</a></li>
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">دسته بندی محصولات</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                            <span>تمام دسته بندی ها</span>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'category' 'پوشاک-زیر' %}">پوشاک زیر</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'موبایل' %}">موبایل</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'لب-تاپ' %}">لب تاپ</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex" role="search" action="{% url 'search_quic' %}" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="جستجو در نام و توضیحات کالا"
                       aria-label="Search"/ name="searched">
                <button class="btn btn-outline-success btn-sm" type="submit">جستجو</button>
            </form>

            &nbsp;&nbsp;
            {% if user.is_authenticated %}

                <a href="{% url 'logout' %}" type="button" class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                    خارج شوید</a>
            {% else %}
                <a href="{% url 'login' %}" type="button" class="btn btn-light">وارد شوید</a>
                &nbsp;&nbsp;
                <a href="{% url 'signup' %}" type="button" class="btn btn-primary btn-sm">ثبت نام کنید</a>
            {% endif %}
        </div>
    </div>
</nav>




