{% extends 'base.html' %}
{% load humanize %}

<!-- Header-->
{% block content %}

<br><br><br><br><br>
    <div class="container">

    <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
          {% if product.is_sale %} قیمت:💴
              <strike><h5 class="card-title">{{ product.price | intcomma}}</h5></strike> <h5 class="card-title">{{ product.seal_price  | intcomma}}</h5>
          {% else %}
        <h5 class="card-title">{{ product.price | intcomma }}</h5>
          {% endif %}
      <br>
      <button type="button" value="{{ product.id }}" id="add-cart" class="btn btn-secondary">اضافه به سبد خربد</button>
          <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>

      </div>
    </div>

  </div>
</div>
    </div>

    <script>
    $(document).on('click','#add-cart',function (e)
    {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data:{
                product_id: $("#add-cart").val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action:'post',
            },
            success:function (json){
                console.log(json)
            },
            error:function (xhr,errmsg,err){}

        });

    });

    </script>

    <br><br><br><br>
{% endblock %}

